/*
*{
    outline: 1px solid red;
}
*/
body{
    font-family:'Raleway',Arial, Verdana, sans-serif;
    background-color: #212529;
}

.imagen-inicio{
    background-image: url("../img/inicio.jpg");
    height: 100vh;
    width: 100%;
    background-position: center center;
    background-size: cover;
}

.pading{
    padding-top:20px;
}

.paddingInicio{
    padding-top: 40vh;
}

.letraInicio{
    font-size: 60px;
}

.my-row{
    padding:50px 0;
}

.fondo-seccion{
    background-color: #363C44;
}

.nav-item:hover {
    background-color: grey;
  }

  /* Media-queries */
/* SM */
@media (min-width: 576px) {
    #titulo{
        font-size: 50px;
    }
}
/* MD */
@media (min-width: 768px) { 
    #titulo{
        font-size: 60px;
    }
}
/* LG */
@media (min-width: 992px) { 
    #titulo{
        font-size: 70px;
    }
}
/* XL */
@media (min-width: 1200px) { 
    #titulo{
        font-size: 80px;
    }
}